/* ************************************************************************************ */
footer {
  padding: var(--spacing-vertical) var(--spacing-horizontal);
}

footer>div:nth-child(1) {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--spacing-vertical);
}

footer>div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer>div:nth-child(2)>p {
  font-size: var(--small);
}

/* ************************************************************************************ */