@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* font */
  font-size: 16px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: lighter;
  --small: .5rem;


  /* colors */
  --black: #000;
  --white: #fff;
  --offWhite: #f2faff;
  --main-bg: #fff;
  --btn-blue: #3399c8e1;
  /* --btn-blue: #006aaf; */

  /* spacing */
  --spacing-unit: 1rem;
  --spacing-horizontal: 1em;
  --spacing-vertical: 2.5em;
  --para-line-height: 2em;
  --h-line-height: 1.4em;
}

.Open__Sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: lighter;
}

a:link,
a:visited {
  display: block;
  color: rgb(50, 49, 49);
  text-decoration: none;
}

a:hover {
  color: var(--btn-blue);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section,
header {
  scroll-snap-align: start;
}