

/* ************************************************************************************ */
.scroll-indicator {
  position: fixed;
  right: 50%;
  bottom: 10px;
  background-color: transparent;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #00000052;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;

}

.scroll-indicator>a {
  color: #00000052;
}

.scroll-indicator:hover {
  background-color: #00000052;
}

.scroll-indicator>a:hover {
  color: #fff;
}

/* ************************************************************************************ */
#duaneExplain {
  display: none;
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: #ffffff73;
  border: 1px solid #000;
  z-index: 1;
  cursor: pointer;

  width: 100px;
  height: 100px;
  border-radius: 50%;

}

#duaneExplain>img {
  position: relative;
  top: 10px;
  display: block;
  margin: 0 auto;
  width: 50%;
  z-index: 1;

}

#duaneExplain>#explaination {
  /* display:none; */
  position: relative;
  right: 1px;
  width: 100px;
  max-height: 0px;
  overflow: hidden;
  padding: 10%;
  padding: 2em .5em .5em .5em;
  word-wrap: break-word;
  /* background: #561e1e; */
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: var(--small);
}

.form-response-modal {
  position: absolute;
  width: 490px;
  height: max-content;
  border-radius: 5px;
  padding: 4em;
  color: #fffdfd;
  background-color: var(--btn-blue);
  cursor: pointer;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}


/* ************************************************************************************ */
body {
  background-color: var(--main-bg);
  color: #1c1c1c;
  height: 300px
}

h1 {
  font-size: 2.9rem;
}

h2 {
  font-size: 2rem;
}

.btn {
  padding: .5em;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 1px 1px 2px #79852f;
  cursor: pointer;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: lighter;
}

.btn1 {
  background-color: var(--btn-blue);
  color: white;
  vertical-align: middle;
  cursor: pointer;
}

.btn1:hover {
  background-color: white;
  color: var(--btn-blue)
}

.btn2 {
  background-color: #d68558;
  color: white;
  /* vertical-align: middle; */
}

/* ************************************************************************************ */
header {
  display: flex;
  padding: .5em var(--spacing-horizontal);
  align-items: center;
}

/* Navigation links */
nav {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  column-gap: 1em;
}

/* ul li a {
  display: block;
  color: rgb(50, 49, 49);
  text-decoration: none;
}

ul li a:hover {
  color: var(--btn-blue)
} */

/*  ul li a:active {
  text-decoration: underline;
}  */

/* ************************************************************************************ */
.hero {
  background-image: url("../assets/hero_1920px.jpg");
  margin: 0 auto;
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  position: relative
}

.hero div {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 5%;
}

.hero div h1 {
  color: var(--white);
  text-shadow: 1px 1px 1px var(--btn-blue)
    /* text-shadow: 3px 1px 1px #494949; */
}


/* ************************************************************************************ */
.sec-2 {
  display: flex;
  column-gap: 2em;
  background-color: #F4F2E7;
  ;
  /* background-color: #C7C7C9; */
  padding: var(--spacing-vertical) var(--spacing-horizontal);

}

.sec-2>div {
  flex-basis: 50%;
}

.sec-2 div:nth-child(1) {
  height: 400px;
}

.sec-2 div:nth-child(1)>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-2 div:nth-child(2) {
  align-self: center;
  /* flex-grow: 1; */
  line-height: var(--para-line-height);
}

.sec-2 div:nth-child(2) h2 {
  line-height: var(--h-line-height);
  text-shadow: 1px 1px 1px var(--btn-blue);
  /* color: #3399c8;; */
  /* color: var(--offWhite); */
  color: var(--black);
}

.sec-2 div:nth-child(2) button {
  margin-top: 1em;
}

/* ************************************************************************************ */
.sec-3 {
  padding: var(--spacing-vertical) var(--spacing-horizontal);
}

.sec-3 h2 {
  text-align: center;
  text-shadow: 1px 1px 1px var(--btn-blue);
}

.column-container {
  display: flex;
  justify-content: space-evenly;
}

.column-container div {
  margin: var(--spacing-vertical) 0;
  line-height: var(--para-line-height);
  flex-basis: 23%;
  /* text-align: center; */
}


/* ************************************************************************************ */
.sec-4 {
  border-top: 2px solid var(--btn-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #F4F2E7;
  padding: var(--spacing-vertical) var(--spacing-horizontal);
}

.sec-4 div {
  flex-basis: 28%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px #000;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-4 div>p {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #006aaf6b;
  width: 100%;
  text-align: center;


}

.sec-4 div:nth-child(1) {
  background-image: url(../assets/asia_500px.jpg);
  background-position: 35% 0;
}

.sec-4 div:nth-child(2) {
  background-image: url(../assets/russia_500px.jpg);
  background-position: center;
}

.sec-4 div:nth-child(3) {
  background-image: url(../assets/europe_500px.jpg);
  background-position: center;
}

.sec-4 div:nth-child(4) {
  flex-basis: 100%;
  height: max-content;
  text-align: center;
  margin-top: var(--spacing-vertical);
}

/* ************************************************************************************ */
.sec-5 {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-vertical) var(--spacing-horizontal);

  justify-content: space-evenly;
}

.sec-5 h2 {
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 1em;
}

.sec-5 div {
  flex-basis: 20%;
}

.sec-5 div p {
  margin: 1em 0;
  line-height: var(--para-line-height);
  /* font-weight:lighter; */
}

.sec-5 div img {
  border-radius: 50%;
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.customer-name {
  font-weight: bold;
  line-height: var(--para-line-height)
}

/* ************************************************************************************ */
.sec-6 {
  display: flex;
  justify-content: space-between;
  background-color: #AD9989;
  color: var(--offWhite);
  padding: var(--spacing-vertical) var(--spacing-horizontal);
  line-height: var(--para-line-height);
  position: relative;
}

.sec-6>div {
  flex-basis: 45%;
}

.sec-6>div>h2 {
  line-height: var(--h-line-height);
}

.sec-6 form:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.sec-6 form>div {
  flex-basis: 45%;
}

.sec-6 form>div>input,
.sec-6 form>div>textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--offWhite);
  outline: none;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: lighter;
}

.sec-6 .form-msg-container {
  flex-basis: 100%;
}

.sec-6 .form-btn-container {
  flex-basis: 100%;
  text-align: center;
}


/* ************************************************************************************ */